<?xml version="1.0" encoding="utf-8"?>
    
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="aloogle.pokedex"
    android:versionCode="37"
    android:versionName="5.1.5">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"
        android:maxSdkVersion="19"/>

    <application
        android:icon="@drawable/ic_pokedex"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@style/Pokedex_Red_Theme" >

        <activity
            android:name=".activity.ActivitySplashScreen"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ActivityMain"
            android:parentActivityName=".activity.SplashScreenActivity"/>

        <activity
            android:name=".activity.ActivityDetails"
            android:parentActivityName=".activity.ActivityMain"/>

        <activity
            android:name=".activity.ActivityAboutChangelog"
            android:parentActivityName=".activity.ActivityMain"/>

        <activity
            android:name=".activity.ActivityVerifyUpdate"
            android:parentActivityName=".activity.ActivityMain"/>

        <activity
            android:name=".activity.ActivitySendFeedback"
            android:parentActivityName=".activity.ActivityMain"/>

        <activity
            android:name=".activity.ActivitySettings"
            android:parentActivityName=".activity.ActivityMain"/>

        <activity
            android:name=".activity.ActivityPokemonFilter"
            android:theme="@style/Transucent_Pokedex_Red_Theme"/>

    </application>

</manifest>
